@import "tailwindcss";

:root {
  --font-roboto: 'Roboto', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
}

.font-sans {
  font-family: var(--font-roboto);
}

html {
  transition: background-color 0.25s ease, color 0.25s ease;
}


.container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}